* {
    margin: 0;
    padding: 0;
}

header p {
    color: blue;
}

p {
    /* color: blue; */
    /* font-family: 'Courier New', Courier, monospace; */
    /* margin-right: 100px; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 500px;
    height: 200px;
    border: 5px solid red;
    border-radius: 20px 30px 40px 50px;
    padding: 10px; */
}


#primeiroP {
    font-size: 25px;
}

.pDireita {
    text-align: right;
}

div {
    border: 2px solid black;
    margin: 100px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* background-color: #aaa; */
    padding: 10px;

}

span {
    color: blue;
    font-family: fantasy;
    font-size: 20px;

}

img {
    /* width: 200px; */
    height: 200px;
    /* margin: 20px 40px 50px 60px; */
    display: block;
    margin-left: 400px;
    margin: auto;
}

iframe {
    width: 400px;
}

header {
    margin-top: 50px;
    height: 100px;
    width: 100%;
    background-color: #ddd;
    position: sticky;
    top: 0;
}