img {
    width: 400px;
    /* height: 500px; */
    border-bottom: 10px solid red;
    border-right: 10px solid green;
    border-radius:0 0 10px 0;
}

p {
    font-size: 30px;
}
.div-esquerda {
    width: 450px;
    height: 100px;
    border: solid 1px;
    background: url('https://s2-g1.glbimg.com/t1rMKFNskwFZFmUMCfNGaflYjnw=/0x0:800x533/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2019/d/B/5X2Q7wTEuarwM99YL5DA/ifro-zona-norte.jpg') no-repeat center;
    background-size: contain;
    margin: auto;
    /* background-attachment: fixed; */
    position: absolute;
    left: 10px;
    top: 10px;
    /* top: 200px; */
}

.div-direita {
    width: 450px;
    height: 100px;
    border: solid 1px;
    background: url('https://s2-g1.glbimg.com/t1rMKFNskwFZFmUMCfNGaflYjnw=/0x0:800x533/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2019/d/B/5X2Q7wTEuarwM99YL5DA/ifro-zona-norte.jpg') no-repeat center;
    background-size: contain;
    margin: auto;
    /* background-attachment: fixed; */
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#div-container {
    position: relative;
    height: 500px;
    width: 1200px;
    border: 1px solid;
}